.landing {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Cybertruck-Main-Hero-Desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

h1 {
    margin: 0;
}

.landing-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.landing-text img {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .landing-text img {
        width: 300px;
    }

    .landing {
        background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Cybertruck-Main-Hero-Hedgehog-Mobile.jpg);
    }
}